// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.error-ul {
    font-size: 14px;
    line-height: 18px;
    color: #d30303;
    margin-bottom: 4px;
    text-align: center;
}