.filter-container {
    width: 13rem;
    margin: 20px 1rem auto auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // background-color: yellow;
    // padding: 50px;
    // font-size: 20px;
}

.filter-section{
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px #ccc;
    padding: .5rem;
}

.filter-option {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 16px;
    border-bottom: .0625rem solid #d8d9db;
    position: relative;
}
.filter-option>h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #2d333f;
    margin: 0 0 8px;
}

.filter-item {
    padding: .2rem;
}

.filters-summary-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}

.filters-summary{
    margin: 1rem;
    padding: 1rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.price-filter-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: auto;
}

.price-filter-items>li {
    display: inline-block;
    width: 33.33333%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    padding: 6px 0;
    border-top: 1px solid #d8d9db;
    border-bottom: 1px solid #d8d9db;
    border-left: 1px solid #d8d9db;
    text-align: center;
    cursor: pointer;
}

.price-filter-items li:last-child {
    border-right: 1px solid #d8d9db;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.price-filter-items>li:hover{
    cursor: pointer;
    // background: #f1f2f4;
    border: 1px solid blue;
}

.filter-item-div{
    display: flex;
    cursor: pointer;
    margin-bottom: 4px;
    align-items: center;
}

.filter-label{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.filter-checkbox {
    margin-right: .5rem;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.price-selected{
    background: #2d333f;
    color:white
}

.price-choice {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.price-choice .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 40px;
  left: -25px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.price-choice:hover .tooltiptext {
  visibility: visible;
}

.top-btn {
    cursor: pointer;
    text-decoration: none;
    outline: 0 !important;
    display: flex;
    width: 40px;
    justify-content: space-around;

}
