#search-map-page {
    margin: auto;
    background-color: white;
}

.search-map-container {
    display: flex;
    flex-direction: row-reverse;
}

.search-map {
    flex: 1 1 20%;
}

#search-map-container {
    width: 100%;
    min-width: 400px;
    height: 380px;
    min-height: 100%;
}

#list-header {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.search-map-list {
    height: 45vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    resize: none;
    width: 750px;
}

.list-icon {
  cursor: pointer;
  font-weight: 400;
  padding: 5px 10px;
  color: white;
  order: 1px solid #247f9e;
  border-radius: 3px;
  background-color: #247f9e;
}

.list-icon button{
  cursor: pointer;
  margin-left: 15px;
}

.list-icon-btn {
    color: white;
    display: flex
}

i.fas.fa-list {
    color: white;
    margin-right: 5px;
}