.footer {
    background-color: #2d333f;
    border-top: .0625rem solid rgba(0,0,0,.12);
    display: flex;
    height: 90px;
    width: 100%;
    border-radius: 2px;
    justify-content: space-between;
    /* position: absolute; */
    /* bottom: 0; */
}

.footer-description{
    color: white;
    align-items: center;
    margin: 2rem;
    font-size: 14px;
    display:flex;
    justify-content: space-evenly;
    width: 250px;

}

.footer-icon-ot {
    height: 35px;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
}

.footer-links p {
  display: inline;
  line-height: 24px;
}
.footer-links a i.user-icon {
  font-size: 15px;
}

.footer-links {
    margin: 1rem 2rem 1rem 1rem;
}