.home-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    min-height: 26rem;
    position: relative;
}

.cover-wrapper{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,rgba(47,45,65,.7),rgba(47,45,65,.7)),url("https://cdn.vox-cdn.com/thumbor/TFBxhblHD25FX87WlgGlKEmSVKI=/0x0:2000x1333/1200x0/filters:focal(0x0:2000x1333):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/14944208/Moongate_PChang_3118.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    position: absolute;
    opacity: 1;
}

.cover-content {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.cover-phrase{
    margin: 0 0 16px;
    font-size: 48px;
    line-height: 56px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
}

.search-boxes{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}



.search-filters{
    display: flex;
    min-width: 30rem;
    width: 30rem;
    box-sizing: border-box;
}

.search-dt{
    display: flex;
    flex-direction: row;
    flex: 2 1 66%;
}

.search-date{
    overflow: visible;
    background: #fff;
    min-width: 9.375rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1 1 33%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-time {
    background: #fff;
    border-left: .0625rem solid rgba(0,0,0,.08);
    border-right: .0625rem solid rgba(0,0,0,.08);
    flex: 1 1 33%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-party{ 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex: 1 1 33%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #fff;
}

.search-type{
    display: flex;
    flex-direction: row;

}

.search-field{
    margin: 0 16px;
    border-radius: 4px;
    flex: 1 1 auto;
    width: 100%;
    height: 3rem;
    min-width: 18.125rem;
    position: relative;
    box-sizing: border-box;
    background: #fff;
}

.search-button-box{
    min-width: 9rem;
    border-radius: 4px;
    overflow: hidden;
}

.search-button {
    background-color: #da3743;
    color: #fff;
    height: 3rem;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-out;
}