.nav-bar{
    background: white
}

ul.nav-bar-items {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
    margin: 0 auto;
    /* background: orange; */
    border-bottom: 1px solid lightgray;
    /* max-width: 90%; */
}

nav.greeting-links {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    margin-right: 25px;
}


button.form-button-signup {
    color: #fff;
    background-color: #247f9e;
    font-size: 20px;
    margin: 0 8px;
    border: 0.0625rem solid #247f9e;
    padding: 8px 12px 6px 12px;
    cursor: pointer;
    border-radius: 3px;
}

button.form-button-signin {
    color: #2d333f;
    background-color: transparent;
    border: 0.0625rem solid #d8d9db;
    font-size: 20px;
    margin: 0;
    padding: 8px 12px 6px 12px;
    cursor: pointer;
    border-radius: 3px;
}

h1.logo {
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 25px;
}

