/* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  height: 100%
}

body {
    min-height: 100vh;
    background: #f7f7f7;
}

html {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.05);
}