.restaurant-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    /* font-family: sans-serif; */
}

.restaurant-page-content{
    margin: 0 auto;
    min-width: 900px;
    display: flex;
    justify-content: space-around;
}

.restaurant-filters{
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    padding: 16px;
    margin: 20px auto;
    width: 150px;
    height: 300px;
    background: white;
    box-shadow: 0 3px 6px 0px #ccc;

}

.restaurant-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px #ccc;
    padding: 16px;
    float: left;
    width: 720px;
}

.search-control {
    background-color: white;
    background-image: url(//media.otstatic.com/search-result-node/images/patterns/woodgrain-dark.7b6a1e98.png);
    height: 85px;
}
.restaurant-lists{
    padding: 8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,.08);
    list-style: none;
}

.restaurant-lists:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.restaurant-content{
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 5rem;
}

.img{
    height: 250px;
    width: 350px;
    background-size: cover;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-position: center;
}

.rest-name{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 4px;
    color: #247f9e;
}

.rest-name:hover {
    color: red;
    text-decoration: underline;
}

.rest-review {
    padding-top: 2px;
    margin-bottom: 4px;    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.rest-row {
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
}

.restaurant-info{
    /* padding: 15px; */
}


.restaurant-info span {
    margin-left: 8px;
    margin-right: 12px;
}

.rest-contact {
    font-size: 16px;
    font-weight: 500;
    color: #da3743;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid #d8d9db;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px 10px;
}


.phone-icon {
    height: 12px;
    width: 12px;
}

.location-idx{
    color: red
}

.rest-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.rest-item-btn{
    background: #DA3743;
    color: #fff;
    padding: .5rem;
    font-size: .8125rem;
    border-radius: 3px;
    cursor: pointer;
}

.rest-item-btn:hover {
    opacity: 0.80;
    transform: scale(1.05);
    cursor: pointer;
}


.map-view-container {
    width: 200px;
    display: block;
    /* margin: 16px 16px 16px 0; */
    border: 1px solid #61bddb;
    border-radius: 3px;
    background: url(//media.otstatic.com/search-result-node/images/mapImage@2x.e764d473.png) #eef8fb;
    background-size: 192px 64px;
    text-align: center;
    /* cursor: pointer; */
}

.map-view-btn {
    cursor: pointer;
    background-color: #247f9e;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    line-height: 13px;
    font-weight: 500;
}

.map-btn {
    color: white;
    cursor: pointer;
}

i.far.fa-map {
    color: white;
}