.single-restaurant-show {
    /* font-family: sans-serif; */
    /* background: #d8d9db33; */
}

.rest-show-header{
    position:relative;
    display:block;
}

.bimg {
    height: 412px;
    background-size: cover;
    background-position: center;
}

.fav-button{
    position: absolute;
    top: 16px;
    right: 16px;
}

.fav-button-text {
    text-align: center;
    width: 15rem;
    padding: 5px;
    margin: 15px;
    border: 1px solid #d8d9db;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    color: #2d333f;
    line-height: 2rem;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
}

.fav-button-text:hover{
    border: 1px solid red;
    cursor: pointer;
}

.fav-button-text i {
    padding-right: 10px;
}

.fav-button-text i {
    color: gray;
}

.favorited i{
    color: red;
}

.rest-show-content {
    display:flex;
    flex-direction: row-reverse;
    max-width: 992px;
    margin-left:auto;
    margin-right: auto;
    margin-top: -48px
}

.rest-right-side {
    width: 350px;
    margin: 0 0 0 16px;
    display:block;
}

.side-content {
    max-width: inherit;
    width: inherit;
}

.rest-info {
    margin: 17px;
    padding: 13px;
}

.rest-info-box{
    margin: 0 0 10px;
}

.box-head{
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: .5rem;
}
.box-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 1rem;
}

.restaurant-main-content {
    width: 640px;
    margin: 0 16px 0 0;
    z-index: 2;
    background: white;
    border: .25px solid white;
    border-radius: 3px;
    margin-bottom: 100px;
}

#overview-section {
    padding: 1rem;
}

.overview-head {
    margin: 0 0 2rem;
}

.overview-title {
    border-bottom: 1px solid #d8d9db;
    /* border-top: 1px solid #d8d9db; */
    margin: 0 0 1rem;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding: 1.5rem 1rem 2rem .5rem;
    display:flex;
    align-items: center;
}

img.chair-sml {
    width: 35px;
    height: 35px;
}

.overview-title span {
    position: relative;
    top: -15px;
    margin-left: 15px;
    
}

.overview-detail{
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 1rem;
}

.overview-rr{
    display: flex;
    margin-left: 0;
}
.rest-ratings{
    margin-right: .5rem;
    float: right;
}

.rest-review-num {
    margin-right: .25rem;
}

.overview-price {
    margin-left: .5rem;
    padding-right: .5rem;
}

.overview-cuisine{
    margin-left: .5rem;
    padding-right: .5rem;
}

.overview-description {
    color: #2d333f;
    line-height: 24px;
    margin-bottom: 50px;
}

#reviews{
    padding: 0 0 4rem;
}

.restaurant-nav {
    display: flex;
    position: sticky;
    height: 48px;
    border-radius: 2px 2px 0 0;
    padding: 0 .5rem;
    background-color: #fff;
    box-sizing: border-box;
    top: 0;
    border-bottom: 1px solid #ccc;
}


.overview-rr, .overview-price{
    border-right: 1px solid lightgray
}


.rest-full-address span {
    color: #da3743;
    font-size: 13px;
    margin-left: .5rem;
}

.rest-full-address span:hover{
    color: #da3743;
    text-decoration: underline;
    cursor: pointer;
}

.rest-full-address {
    padding: .5rem;
    margin-left: 1rem;
}

.dlt-btn-div {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    width: 125px;
}

.menu-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    color: #2d333f;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 1rem;
    margin: 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-link {
    color: #da3743;
    padding: 1rem;
    margin-left: 1rem;
}

.menu-link:hover{
    color: #da3743;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05);
}

.fa-share{
    color: #939393
}