.single-restaurant-show {
    /* font-family: sans-serif; */
    /* background: #d8d9db33; */
}

.rest-show-header{
    position:relative;
    display:block;
}

.bimg {
    height: 412px;
    background-size: cover;
    background-position: center;
}

.fav-button{
    position: absolute;
    top: 16px;
    right: 16px;
}

.fav-button-text {
    text-align: center;
    width: 15rem;
    padding: 5px;
    margin: 15px;
    border: 1px solid #d8d9db;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    color: #2d333f;
    line-height: 2rem;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
}

.fav-button-text:hover{
    border: 1px solid red;
    cursor: pointer;
}

.fav-button-text i {
    padding-right: 10px;
}

.fav-button-text i {
    color: gray;
}

.favorited i{
    color: red;
}

.rest-show-content {
    display:flex;
    flex-direction: row-reverse;
    max-width: 992px;
    margin-left:auto;
    margin-right: auto;
    margin-top: -48px
}

.rest-right-side {
    width: 320px;
    margin: 0 0 0 16px;
    display:block;
}

.side-content {
    max-width: inherit;
    width: inherit;
}

.rest-info {
    margin: 17px;
    padding: 13px;
}

.rest-info-box{
    margin: 0 0 10px;
}

.box-head{
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
}
.box-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.restaurant-main-content {
    width: 640px;
    margin: 0 16px 0 0;
    z-index: 2;
    background: white;
    border: .25px solid white;
    border-radius: 3px;
    margin-bottom: 100px;
}

#overview-section {
    padding: 2rem 1rem;
}

.overview-head {
    margin: 0 0 2rem;
}

.overview-title {
    border-bottom: 1px solid #d8d9db;
    border-top: 1px solid #d8d9db;
    margin: 0 0 1rem;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding: 1.5rem 1rem 2rem .5rem;;
}

.overview-detail{
    display: flex;
    margin-bottom:1rem;
    flex-wrap:wrap;
}

.overview-rr{
    display: flex;
    margin-left: 0;
}
.rest-ratings{
    margin-right: .5rem;
    float: right;
}

.rest-review-num {
    margin-right: .25rem;
}

.overview-price {
    margin-left: .5rem;
}

.overview-cuisine{
    margin-left: .5rem;
}

.overview-description {
    color: #2d333f;
    line-height: 24px;
    margin-bottom: 50px;
}

#reviews{
    padding: 0 0 4rem;
}

.rest-location{
    border: 1px solid transparent;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    line-height: 10;
    box-shadow: 0 5px 10px grey;
    margin: 15px;
    border-radius: 5%;
    background: url("https://seat-check-seeds.s3-us-west-1.amazonaws.com/gpsmaps.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    font-size: 24px;
    font-weight: 800;
}
